<!-- <html>
    <head>
        <title>
            {% if titleText %}
                {{ titleText }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% if bodyText %}
            {{ bodyText }}
        {% endif %}
    </body>
</html> -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titleText }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>{{ titleText }}<span class="cursor"></span></h1>

        <div class="content">
            {{ bodyText|safe }}
        </div>
    </div>
    
</body>
</html>

